<!DOCTYPE html>
<html lang="<%=config.language%>">
  <%- partial('partials/head') %>
  <body style="background-color: <%- theme.theme.color%>">
    <div class="layout-content">
      <%-partial('partials/header')%>
      <main class="layout-main">
        <%- body %>
      </main>
      <%-partial('partials/footer')%>
    </div>
    <%- partial('partials/styles') %>
    <%- partial('partials/scripts') %>
  </body>
</html>
