<!DOCTYPE html>
<html lang="<%=config.language%>">
<%- partial('partials/head') %>
<body style="background-color: <%- theme.theme_color%>">
  <div class="layout-content">
    <% if (!is_post()) { %>
      <section class="layout-aside">
        <%-partial('partials/aside')%>
      </section>
    <% } %>
    <section class="layout-main">
      <% if (!is_post()) { %>
        <%-partial('partials/header')%>
      <% } %>
      <%- body %>
      <%-partial('partials/footer')%>
    </section>
  </div>
  <%- partial('partials/styles') %>
  <%- partial('partials/scripts') %>
</body>
</html>
