<header class="layout-header">
  <nav class="header-top">
    <ul class="menu">
      <% for (var i in theme.menu) { %> 
        <li class="menu-item <%= is_current(theme.menu[i]) ? 'active' : '' %>"><a href="<%- url_for(theme.menu[i]) %>"><%= __('menu.'+i).replace('menu.', '') %></a></li>
      <% } %>
    </ul>
  </nav>
  <div class="header-content">
    <% if (!is_post()) { %>
      <div class="avatar">
        <a href="<%- url_for("/") %>">
          <img src="<%- url_for(theme.theme.avatar) %>" />
        </a>
      </div>
      <h1><%- config.author %></h1>
      <%- partial('sociallinks') %>
    <% } %>
    <% if (is_post()) { %>
      <div class="item">
        <div class="pic">
          <img src="<%- url_for(theme.theme.avatar) %>" />
        </div>
      </div>
      <div class="info">
        <h1><%=page.title%></h1>
      </div>
    <% } %>
  </div>
  <% if (!is_post()) { %>
    <div class="header-bottom"></div>
  <% } %>
</header>