<header class="layout-header">
  <nav class="header-top">
    <ul class="menu">
      <% for (var i in theme.menu) { %> 
        <li class="menu-item <%= is_current(theme.menu[i]) ? 'active' : '' %>"><a href="<%- url_for(theme.menu[i]) %>"><%= __('menu.'+i).replace('menu.', '') %></a></li>
      <% } %>
    </ul>
  </nav>
  <% if (!is_post()) { %>
    <div class="header-content">
      <div class="avatar">
        <a href="<%- url_for("/") %>">
          <img src="<%- url_for(theme.theme.avatar) %>" />
        </a>
      </div>
      <h1><%- config.author %></h1>
      <%- partial('sociallinks') %>
    </div>
    <div class="header-bottom"></div>
  <% } %>
  <% if (is_post()) { %>
    <div class="content">
      <div class="post-header">
        <div class="pic">
          <img src="<%- url_for(theme.theme.avatar) %>" />
        </div>
        <div class="info">
          <div class="title"><%=page.title%></div>
          <div class="post-meta">
            <div class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
              <span itemprop="name"><% if (page.author) { %><%- page.author %><% } else { %><%- config.author %><% } %></span>
            </div>
            <%- partial('post/date', { post: page, class_name: 'meta' }) %>
            <%- partial('post/category') %>
            <%- partial('post/tag') %>
          </div>
        </div>
      </div>
    </div>
  <% } %>
</header>